requests
pyyaml
pandas
pydantic
schedule
python-dateutil
pycarwings2
flask
gunicorn
requests-oauthlib
# Install via ZIP to avoid git auth issues
https://github.com/ReneBoer/python-mercedes-me-api/archive/master.zip
