requests
pyyaml
pandas
pydantic
schedule
python-dateutil
pycarwings2
flask
gunicorn
requests-oauthlib
# Install directly from GitHub
git+https://github.com/ReneBoer/python-mercedes-me-api.git@master#egg=mercedes-me-api